.container {
    max-width: 800px;
    margin: 30px auto;
    border-radius: 4px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0,  0.3);
    padding: 16px;
  }

  .collapse {
    font-size: 13px;
  }

  .collapse .item {
    border-top: 1px solid #ddd;
    cursor: pointer;
  }

  .collapse .item:last-child {
    border-bottom: 1px solid #ddd;
  }

  .collapse .item-header {
    display: flex;
    align-items: center;
    color: #303030;
    font-weight: 500;
    line-height: 40px;
  }

  .collapse .item-header::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;
    margin-left: auto;
    transform: rotate(45deg);
    transition: all .3s;
  }

  .collapse .item.active .item-header::after {
    transform: rotate(135deg);
  }

  .collapse .item-content {
    font-size: 14px;
    color: #666;
    height: 0;
    overflow: hidden;
    transition: all .3s;
  }

  .collapse .item.active .item-content {
    height: auto;
    padding-bottom: 16px;
  }